*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  color: white;
}

body{
  background: black;
}

.navbar{
  padding: 50px 5%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-div img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 60px;
}


.hamburger{
  display: none;
  cursor: pointer;
}


.bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  display: block;
}



/* HERO SECRION */
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 0 5%;
  padding-bottom: 50px;
  background: black;
}

.hero-image{
  flex: 1;
}

.hero-image img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  background-position: bottom;
}


.hero-text{
  flex: 1;
}

.hero-text p:nth-child(1){
  color: red;
  font-size: 1.5rem;
}

.hero-text h1{
  color: white;
  font-size: 3.5rem;
}

.hero-text p:nth-child(3){
  line-height: 1.5;
  margin-bottom: 30px;
}

.about{
  display: inline-block;
  background: red;
  height: 40px;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
  border-radius: .5rem;
}

.about:hover{
  transform: scale(1.2) translateY(10px); 
  color: black;
  background: white;
  transition: .4s;
  font-weight: bold;
}

.projects{
  width: 100%;
  /* height: 400px; */
}

.main-projects{
  width: 100%;
  height: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}


.projects-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-header a{
  background: red;
  height: 40px;
  width: 100px;
  padding: 10px 20px;
  border-radius: .5rem;
  display: inline-block;
  transition: background-color 1s, color 1s;
}

.projects-header a:hover{
  transform: scale(1.2) translateY(10px); 
  color: black;
  background: white;
  transition: .4s;
  font-weight: bold;
  /* background: rgba(128, 128, 128, 0.213); */
}

.projects-links{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 25px;
  row-gap: 70px;
}

.first-project{
  width: 380px;
}

.projects-links img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.img-links{
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  margin-top: 10px;

}

.img-links a:nth-child(1){
  color: red;
}


footer{
  width: 100%;
  background: rgba(128, 128, 128, 0.213);
  text-align: center;
  padding: 50px 0;
}

.email, .phone_number, .a{
  color: red;
}


@media(max-width:1200px){
  .hero-section{
    flex-direction: column;
    row-gap: 40px;
  }

  .hero-text p:nth-child(1){
    font-size: 1.2rem;
  }
  
  .projects-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 70px;
  }

  .first-project{
    width: 335px;
  }
  
  .projects-links img{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  
  .img-links{
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    margin-top: 10px;
  
  }
  
}

@media(max-width:780px){
  .projects-links{
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }
}

@media(max-width:600px){

  .hamburger{
    display: block;
  }
  

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }


  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }


  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 50%;
  }
  


  .hero-text h1{
    color: white;
    font-size: 2rem;
  }


  .projects-header{
    flex-direction: column;
    row-gap: 20px;
  }

  .featured-project-header h1{
    font-size: 2rem;
  }

  footer h1{
    font-size: 1.2rem;
  }

}

@media(max-width:420px){

  footer h1{
    font-size: 1.2rem;
  }
}

